<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input
      required
      formControlName="name"
      class="form-control"
      placeholder="Charmander"
      type="text"
      matInput
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tipo</mat-label>
    <input
      required
      formControlName="type"
      class="form-control"
      placeholder="Fire"
      type="text"
      matInput
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ataque</mat-label>
    <input
      matInput
      required
      formControlName="attack"
      class="form-control"
      placeholder="46"
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Defensa</mat-label>
    <input
      matInput
      required
      formControlName="defense"
      class="form-control"
      placeholder="33"
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <input
      matInput
      required
      formControlName="description"
      class="form-control"
      placeholder="Description"
      type="text"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Imagen URL</mat-label>
    <input
      matInput
      required
      formControlName="imgUrl"
      class="form-control"
      placeholder="https://charmander.png"
      type="text"
    />
  </mat-form-field>
  <button
    type="button"
    mat-raised-button
    (click)="submit()"
    color="primary"
    [disabled]="!form.valid"
  >
    Guardar
  </button>
</form>
